.user-info-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  > div:nth-child(2) {
    @media screen and (max-width: 367px) {
      padding-top: .5rem;
    }
  }

  .password-wrapper {
    width: calc(100% - 1.75rem - 2px);
  }
}

.form-control-lean {
  min-width: 200px;
  padding: 1px 2px;
  display: block;
  color: #495057;
  background-clip: padding-box;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: none;
  border-left: none;
  border-radius: 0;
  background: linear-gradient(180deg, transparent 95%, #dda122 0) no-repeat;
  background-size: 0 100%;
  transition: background-size .15s ease, border-color .15s ease;

  &.active {
    border-bottom-color: #f4ca6e;
  }

  &:not([id="password"]) {
    text-overflow: ellipsis;
  }

  &:disabled {
    background: transparent;
  }

  &:focus {
    outline: 0;
    border-bottom-color: #dda122;
    background-size: 100% 100%;
  }
}
