.user-info-item {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  > div:first-child {
    transition: padding .15s;

    &:focus-within {
      @media screen and (max-width: 364px) {
        padding-bottom: .5rem;
      }
    }
  }
}

.form-control-lean {
  min-width: 200px;
  text-overflow: ellipsis;
  display: block;
  color: #495057;
  background-clip: padding-box;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  border-right: none;
  border-left: none;
  border-radius: 0;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &:disabled {
    background: transparent;
  }

  &:focus {
    outline: 0;
    border-bottom-color: #dda122;
  }
}
