html {
  font-size: 16px;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #fff;
}

/* Full height excluding header and footer */
.f-h {
  min-height: calc(100vh - 137px);
  margin-top: 62px;
}

button {
  outline: none !important;
}

.form-control:focus {
  outline: 0;
  border-color: #dda122;
  box-shadow: 0 0 0 0.2rem rgb(253, 184, 39);
}

.list-group-item.active {
  background-color: #f8a92e;
  border-color: #f8a92e;
}

.badge {
  font-size: 100%;
  font-weight: inherit;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.btn-general {
  color: #fff;
  background-color: #e77f52;
  border-color: #e77f52;
}

.btn-general:hover {
  color: #fff;
  background-color: #ce7b56;
  border-color: #b96e4d;
}

/* Toggle password visibility */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.btn-toggle-password {
  font-size: 1rem;
  padding: 0;
  position: absolute;
  right: .75rem;
  border: none;
  background: none;
  color: rgba(0,0,0,.5);
}

.form-control-lean + .btn-toggle-password {
  right: 0;
}

.btn-logout-fetching {
  position: relative;
  color: transparent!important;
}

.ellipsis-loader,
.ellipsis-loader:before,
.ellipsis-loader:after {
  position: absolute;
  top: calc(50% - .2rem);
  right: calc(50% - .2rem);
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
  animation-fill-mode: both;
  animation: ticker .8s infinite ease-in-out;
}
.ellipsis-loader {
  margin-top: 2px;
  animation-delay: -0.16s;
}
.ellipsis-loader:before,
.ellipsis-loader:after {
  content: '';
  top: 0;
}
.ellipsis-loader:before {
  left: -1em;
  animation-delay: -0.32s;
}
.ellipsis-loader:after {
  left: 1em;
}

@keyframes ticker {
  0%,
  80%,
  100% {
    background-color: lightgrey;
  }
  40% {
    background-color: grey;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
  body {
    font-size: 16px;
  }
  .f-h {
    min-height: calc(100vh - 128px);
  }
}

/* Services page */
.spinner-container {
  min-height: calc(100vh - 137px - 89px);
}

/* Card page */
.card-page .img-loading-wrapper {
  height: 100%;
  background-color: #4f4f4f;
}

.card-page .card-img {
  height: 100%;
  object-fit: cover;
}

.card-page .col-md-6:last-child {
  min-height: 360px;
}

.card-page .card-body {
  min-height: inherit;
}

@media (max-width: 767px) {
  .card-page .img-loading-wrapper {
    height: 0;
    padding-bottom: calc(683 / 1024 * 100%);
  }

  .card-page .card-img {
    height: auto;
  }

  .card-page .col-md-6:last-child {
    min-height: initial;
  }
}

/* Gallery page */
.gallery {
  column-count: 3;
}

@media (max-width: 768px) {
  .gallery {
    column-count: 2;
  }
}

@media (max-width: 470px) {
  .gallery {
    column-count: 1;
  }
}

/* Contacts page */
.text-pre-line {
  white-space: pre-line;
}
