html {
  font-size: 16px;
}

body {
  font-family: 'Kanit', sans-serif;
  font-size: 18px;
  margin: 0;
  background-color: #fff;
}

/* Full height excluding header and footer */
.f-h {
  min-height: calc(100vh - 137px);
  margin-top: 62px;
}

@media screen and (max-width: 400px) {
  html {
    font-size: 14px;
  }
  body {
    font-size: 16px;
  }
  .f-h {
    min-height: calc(100vh - 128px);
  }
}

button {
  outline: none !important;

  &:disabled {
    cursor: default;
    pointer-events: all !important;
  }
}

.form-control:focus {
  outline: 0;
  border-color: #dda122;
  box-shadow: 0 0 0 0.2rem rgb(253, 184, 39);
}

.list-group-item.active {
  background-color: #f8a92e;
  border-color: #f8a92e;
}

.badge {
  font-size: 100%;
  font-weight: inherit;
}

.btn.focus, .btn:focus {
  box-shadow: none !important;
}

.btn-general {
  color: #fff;
  background-color: #e77f52;
  border-color: #e77f52;

  &:hover, &:focus {
    color: #fff;
    background-color: #ce7b56;
    border-color: #b96e4d;
  }
}

/* Toggle password visibility */
.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;

  input[id="password"] {
    padding-right: calc(.75rem + 1rem + .75rem);
  }
}

.btn-toggle-password {
  font-size: 1rem;
  padding: 0;
  position: absolute;
  right: .75rem;
  border: none;
  background: none;
  color: rgba(0,0,0,.5);
}

.form-control-lean + .btn-toggle-password {
  right: calc(-1.75rem + 2px);
}

input.form-control-lean[id="password"] {
  padding-right: calc(1rem + .75rem);
  margin-right: -1.75rem;
}

.btn-logout-fetching {
  position: relative;
  color: transparent!important;
}

.ellipsis-loader,
.ellipsis-loader:before,
.ellipsis-loader:after {
  position: absolute;
  top: calc(50% - .2rem);
  right: calc(50% - .2rem);
  border-radius: 50%;
  width: .4rem;
  height: .4rem;
  animation-fill-mode: both;
  animation: ticker .8s infinite ease-in-out;
}
.ellipsis-loader {
  margin-top: 2px;
  animation-delay: -0.16s;
}
.ellipsis-loader:before,
.ellipsis-loader:after {
  content: '';
  top: 0;
}
.ellipsis-loader:before {
  left: -1em;
  animation-delay: -0.32s;
}
.ellipsis-loader:after {
  left: 1em;
}

@keyframes ticker {
  0%,
  80%,
  100% {
    background-color: lightgrey;
  }
  40% {
    background-color: grey;
  }
}

.Toastify__toast-container--top-right {
  top: 1em;
  right: 0;
}

.Toastify__toast-container {
  margin: 0 1rem;
  position: fixed;
  z-index: 9999;
}

.Toastify__toast {
  position: relative;
  margin-bottom: 1rem;
  padding: .75rem 1.25rem;
  padding-right: 4rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
}

.Toastify__toast--error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.Toastify__toast--success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.Toastify__toast-body {
  display: inline;
}

.Toastify__close-button {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  opacity: .5;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: .85rem 1.25rem;
  color: inherit;

  &:hover, &:focus {
    color: #000;
    text-decoration: none;
    opacity: .75;
  }

  > svg {
    fill: currentColor;
    height: 16px;
    width: 14px;
  }

  @media screen and (max-width: 400px) {
    padding: .75rem 1.25rem;
  }
}

.Toastify__bounce-enter--top-right {
  animation-name: Toastify__bounceInRight;
}

.Toastify__bounce-exit--top-right {
  animation-name: Toastify__bounceOutRight;
}

@keyframes Toastify__bounceInRight {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75% {
    transform: translate3d(10px, 0, 0);
  }
  90% {
    transform: translate3d(-5px, 0, 0);
  }
  to {
    transform: none;
  }
}

@keyframes Toastify__bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

.Toastify__progress-bar--animated {
  animation: Toastify__trackProgress linear 1 forwards;
}

@keyframes Toastify__trackProgress {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}
