.avatar-loading-wrapper {
  position: relative;
  height: 0;
  padding-bottom: calc(100% - 2px);
  border: 1px solid #dfdfdf;
  border-radius: calc(.25rem + 1px);

  img {
    height: auto;
  }
}

.plus-upload-btn {
  position: absolute;
  top: -4px;
  left: -4px;
  border: 0;
  background: white;
  padding: 0 .35rem;
  border-radius: .25rem;
}
