.modal {
  display: block;
  background: rgba(0, 0, 0, 0.7);
  overflow-x: hidden;
  overflow-y: auto;
}

.modal .close {
  position: absolute;
  top: 0;
  height: 62px;
  width: 62px;
  right: 0;
  color: #fff;
  opacity: 0.8;
}

.modal .close:not(:disabled):not(.disabled):hover {
  opacity: 1;
}

.modal-header, .modal-footer {
  justify-content: center;
}

.modal-body form {
  max-width: 300px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .modal .close {
    visibility: hidden;
  }
}
