.card-deck {
  .card {
    flex: unset;
    width: calc(33.333% - 30px);

    @media screen and (max-width: 992px) {
      width: calc(50% - 30px);
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }

    img {
      height: auto;
    }
  }

  .img-loading-wrapper {
    height: 0;
    background-color: #4f4f4f;
    padding-bottom: calc(683 / 1024 * 100%);
  }
}
