.card-deck .card {
  flex: unset;
  width: calc(33.333% - 30px);
}

.card-deck .card img {
  height: auto;
  background-color: rgba(183, 118, 40, 0.1)
}

@media screen and (max-width: 992px) {
  .card-deck .card {
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .card-deck .card {
    width: 100%;
  }
}
