.card-page {
  .img-loading-wrapper {
    height: 100%;
    background-color: #4f4f4f;

    @media (max-width: 767px) {
      height: 0;
      padding-bottom: calc(683 / 1024 * 100%);
    }
  }

  .card-img {
    height: 100%;
    object-fit: cover;

    @media (max-width: 767px) {
      height: auto;
    }
  }

  .col-md-6:last-child {
    min-height: 360px;

    @media (max-width: 767px) {
      min-height: initial;
    }
  }

  .card-body {
    min-height: inherit;
  }
}
