.banner {
  margin-top: 62px;
  background-color: #352922;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  width: 100%;
  min-height: 400px;
  height: 50vh;
  display: flex;
  align-items: flex-end;

  @media screen and (min-width: 1260px) {
    background-image: url(../../assets/img/home/banner-1920w.webp);
  
    @at-root .no-webp .banner {
      background-image: url(../../assets/img/home/banner-1920w.jpg);
    }
  }

  @media screen and (max-width: 1259px) {
    background-image: url(../../assets/img/home/banner-1280w.webp);
  
    @at-root .no-webp .banner {
      background-image: url(../../assets/img/home/banner-1280w.jpg);
    }
  }
}
