.banner {
  margin-top: 62px;
  background: rgba(27, 14, 12, 0.9) url(/img/home/banner.jpg) no-repeat 50% 50%/cover;
  width: 100%;
  min-height: 400px;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}
