.about-content {
  background-color: #b1864f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content__text {
  max-width: 500px;
}

.about-pic {
  min-height: 500px;
  height: 100%;
  background-color: #af7745;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

@media screen and (min-width: 1280px) {
  .about-pic {
    background-image: url(/img/home/about-1920w.webp);
  }

  .no-webp .about-pic {
    background-image: url(/img/home/about-1920w.jpg);
  }
}

@media screen and (max-width: 1260px) {
  .about-pic {
    background-image: url(/img/home/about-1280w.webp);
  }

  .no-webp .about-pic {
    background-image: url(/img/home/about-1280w.jpg);
  }
}

@media screen and (max-width: 620px) {
  .about-pic {
    background-image:url(/img/home/about-640w.webp);
  }

  .no-webp .about-pic {
    background-image: url(/img/home/about-640w.jpg);
  }
}

@media screen and (max-width: 576px) {
  .about-pic {
  	min-height: calc(100vw / 1.5);
  }
}
